

.board {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    gap: 15px;
  
}

.cell {

   width: 100px;
   height: 100px;
   font-weight: 600;
   font-size: 50px;
   
}

#restartBtn {
    margin-top: 30px;
    padding: 12px 30px;
    font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #0f1520;
  color: white;
  padding: 20px;
 
}

button {
  border: 3px ridge #149CEA;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}